<!-- Complete other than testing -->
<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
            <!-- <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input type="text" name="imageUrl" id="imageUrl" value="<% if (editing) { %><%= product.imageUrl %><% } %>">
            </div> -->
            <div class="form-control">
                <label for="price">Year</label>
                <input type="text" name="year" id="year" value="<% if (editing) { %><%= product.year %><% } %>">
            </div>
            <div class="form-control">
                <label for="price">Make</label>
                <input type="text" name="make" id="make" value="<% if (editing) { %><%= product.make %><% } %>">
            </div>
            <div class="form-control">
                <label for="price">Model</label>
                <input type="text" name="model" id="model" value="<% if (editing) { %><%= product.model %><% } %>">
            </div>
            <div class="form-control">
                <label for="price">Torque</label>
                <input type="string" name="torque" id="torque" value="<% if (editing) { %><%= product.torque %><% } %>">
            </div>
            <div class="form-control">
                <label for="price">Engine</label>
                <input type="text" name="engine" id="engine" value="<% if (editing) { %><%= product.engine %><% } %>">
            </div>
            <div class="form-control">
                <label for="price">Sixty</label>
                <input type="string" name="sixty" id="sixty" value="<% if (editing) { %><%= product.sixty %><% } %>">
            </div>
            <div class="form-control">
                <label for="price">Top Speed</label>
                <input type="string" name="topSpeed" id="topSpeed" value="<% if (editing) { %><%= product.topSpeed %><% } %>">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="string" name="price" id="price" value="<% if (editing) { %><%= product.price %><% } %>">
            </div>
            <div class="form-control">
                <label for="price">Horse Power</label>
                <input type="string" name="hp" id="hp" value="<% if (editing) { %><%= product.hp %><% } %>">
            </div>
            <div class="form-control">
                <label for="price">Weight</label>
                <input type="string" name="weight" id="weight" value="<% if (editing) { %><%= product.weight %><% } %>">
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= product._id %>" name="productId">
            <% } %>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>